/* .brand {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  background-image: url("/public/backgroud.jpg");
  background-clip: none;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: 0;
  border-radius: 5px;
}

.submit-btn {
  outline: 0;
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  outline: 0;
}
button {
  outline: 0;
  border: 0;
}
@media (max-width: 600px) {
  .btn {
    width: 100%;
    font-size: 14px;
  }
}
.photo {
  background-image: url("/foadhassanzadehfar/public/theater-youtanazi.jpg");
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}
